
.downPanelText {
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  font-weight: 10;
  font-style: normal;
  color: white;
  text-align: center;
  position: fixed;
  top: 580px;
  right: 610px;
  
}

.downPanelHandle {
  width: 150px;
height: 5px;
border-radius: 150px;
  position: fixed;
     top: 580px;
     right: 610px;
}
.githubLogo {
  width: 30px;
  height: 30px;
  position: fixed;
  top: 580px;
  left: 7px;
}