.topPanel {
    /*width: 1300px;*/
    /*height: 10px;*/
   /* border-radius: 100px; */
   /* background-color: midnightblue;*/
  text-align: center;
  
  
}
h1{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 16;
    font-style: normal;
    color: white;
    text-align: center;
}